DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=brill_admin
DB_USER=root
DB_PASS=
DB_DRIVER=mysql

# Biteship
BITESHIP_API_KEY=
BITESHIP_BASE_URL=https://api.biteship.com
BITESHIP_ORIGIN_LABEL=Warehouse
BITESHIP_ORIGIN_AREA_ID=
BITESHIP_ORIGIN_POSTAL_CODE=
BITESHIP_ORIGIN_LAT=
BITESHIP_ORIGIN_LNG=
BITESHIP_COURIERS=jne,jnt,gojek,grab,lalamove
BITESHIP_DEFAULT_WEIGHT_GRAMS=3000
BITESHIP_VERIFY_SSL=true
