@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-book.woff2') format('woff2');
    font-weight: 400; /* Book */
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-medium.woff2') format('woff2');
    font-weight: 500; /* Medium */
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/gotham-bold.woff2') format('woff2');
    font-weight: 700; /* Bold */
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham';
}

html,
body {
    height : 100%;
}

body {
    /* background-color            : var(--color-body); */
    -webkit-overflow-scrolling  : touch;
    -webkit-text-size-adjust    : 100%;
    -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
    -webkit-font-smoothing      : antialiased;
    -moz-osx-font-smoothing     : grayscale;
    margin: 0;
}

/* ===================================================================
 * # PAGE WRAPPER
 *
 *
 * ------------------------------------------------------------------- */
.page-wrapper {
    display        : flex;
    flex-direction : column;
    min-height     : 100%;
    overflow       : hidden;
    position       : relative;
}

/* ===================================================================
 * # HERO SECTION
 *
 *
 * ------------------------------------------------------------------- */
.hero {
    /* width: 100%; */
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* --------------------------------------------------------------------
 * # BACKGROUND
 * -------------------------------------------------------------------- */
.hero-bg {
    display: block;
    background-image: url(../images/photos/index/bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    height: 100vh;
}

.hero-bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    pointer-events: none;
    opacity: 75%;
}

.hero-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    position: relative;
    z-index: 1;
    background: white;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5%;
}

.form img {
    width: 100%;
    margin: 0 0 15px;
}

.form input {
    /* font-family: "Roboto", sans-serif; */
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button {
    /* font-family: "Roboto", sans-serif; */
    text-transform: uppercase;
    outline: 0;
    background: var(--brill-blue);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: var(--brill-blue-dark);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}